{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-column>
    <mj-image src="{% static '/images/Logo-Oeb.png' %}" alt="Logo" href="https://openbadges.education" padding-left="25px" width="150px" align="left" fluid-on-mobile="true" />
    <mj-text font-size="32px" font-weight="bold">
    <span style="text-transform:capitalize;">Mitgliedsanfrage für deine Institution</span>
    </mj-text>
    <mj-text color="#492e98">
    <span style="font-weight: bold;">{{ user.first_name }} {{ user.last_name }}</span>
    hat eine Mitgliedsanfrage für deine Institution
    <span style="font-weight:bold;">{{ issuer.name }}</span> gestellt.
    </mj-text>
    <mj-text color="#492e98">
    Du kannst die Anfrage über folgenden Button auf Open Educational Badges bestätigen:
    </mj-text>
    </mj-column>
{% endblock main %}
{% block button_url %}
    {{ activate_url }}
{% endblock button_url %}
{% block button_url_copy %}
    {{ activate_url }}
{% endblock button_url_copy %}
{% block button_text %}
    {{ call_to_action_label }}
{% endblock button_text %}
{% endmjml %}
