{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-column>
    <mj-image src="{% static '/images/Logo-Oeb.png' %}" alt="Logo" href="https://openbadges.education" padding-left="25px" width="150px" align="left" fluid-on-mobile="true" />
    <mj-text font-size="32px" font-weight="bold" padding-bottom="25px">
    <span style="text-transform:capitalize;">QR-Code-Anfragen für deinen Badge</span>
    </mj-text>
    <mj-text color="#492e98" padding-bottom="20px">
    Du hast {{ number_of_open_requests }} offene QR-Code-Anfrage(n) für deinen Badge <b>{{ badge_name }}</b>.
    </mj-text>
    <mj-text>
    Bestätige die Anfragen auf Open Educational Badges über den folgenden Button:
    </mj-text>
    <mj-button href="{{ activate_url }}">
    {{ call_to_action_label }}
    </mj-button>
    </mj-column>
{% endblock main %}
{% block button %}
{% endblock button %}
{% endmjml %}
