{% load static %}
<!DOCTYPE html>
<html lang="en" data-beasties-container>
    <head>
        <meta charset="utf-8" />
        <title>Open Educational Badges Learners Competencies</title>
        <link rel="stylesheet"
              href="{{ asset_path }}oeb-competency-overview/styles.css"
              media="print"
              onload="this.media='all'" />
        <noscript>
            <link rel="stylesheet"
                  href="{{ asset_path }}oeb-competency-overview/styles.css" />
        </noscript>
        <script>
            window.OEBWebComponentSettings = {
                language: "{{ language }}",
            };
        </script>
    </head>
    <body>
        <oeb-competency-overview id="competencies" baseurl="{{ asset_path }}oeb-competency-overview/" />
        <script src="{{ asset_path }}oeb-competency-overview/polyfills.js"
                type="module"></script>
        <script src="{{ asset_path }}oeb-competency-overview/main.js" type="module"></script>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", () => {
                const badges = JSON.parse("{{ badges_json | escapejs }}");
                document.getElementById("competencies").badges = badges;
            });
        </script>
    </body>
</html>
