{% load static %}
<!DOCTYPE html>
<html lang="en" data-beasties-container>
    <head>
        <meta charset="utf-8" />
        <title>Open Educational Badges Learners Learningpaths</title>
        <link rel="stylesheet"
              href="{{ asset_path }}oeb-learningpaths-overview/styles.css"
              media="print"
              onload="this.media='all'" />
        <noscript>
            <link rel="stylesheet"
                  href="{{ asset_path }}oeb-learningpaths-overview/styles.css" />
        </noscript>
        <script>
            window.OEBWebComponentSettings = {
                language: "{{ language }}",
            };
        </script>
    </head>
    <body>
        <oeb-learningpaths-overview id="lps" baseurl="{{ asset_path }}oeb-learningpaths-overview/" />
        <script src="{{ asset_path }}oeb-learningpaths-overview/polyfills.js"
                type="module"></script>
        <script src="{{ asset_path }}oeb-learningpaths-overview/main.js"
                type="module"></script>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", () => {
                const learningPaths = JSON.parse(
                    "{{ learningpaths_json | escapejs }}"
                );
                document.getElementById("lps").learningPaths = learningPaths;
            });
        </script>
    </body>
</html>
